.feynman__title{
    margin-top: 0;
    margin-bottom: 0;
    align-self: center;
    text-align: center;
    width: 648px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bolder;
    z-index: 1;
    }